<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>AMBLP Management</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="example-icon">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>


<router-outlet />
