<p>jugadores works!</p>
<div class="example-container">
    <mat-form-field hintLabel="xd" appearance="outline">
        <mat-label> Enter</mat-label>
        <input matInput #input maxlength="10" placeholder="xdxd"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>SELECT ME</mat-label>
        <mat-select>
            <mat-option value="xd">Option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field hintLabel="xd">
        <mat-label> Enter</mat-label>
        <input matInput #input maxlength="10" placeholder="xdxd"/>
    </mat-form-field>
</div>
<div class="example-container">
    <mat-form-field hintLabel="xd">
        <mat-label> Enter</mat-label>
        <input matInput #input maxlength="10" placeholder="xdxd"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>SELECT ME</mat-label>
        <mat-select>
            <mat-option value="xd">Option</mat-option>
        </mat-select>
    </mat-form-field>
</div>